<ion-header>
  <ion-toolbar>
    <ion-title class="title ion-text-center">Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="form" class="calculadora"> -->
    <ion-list class="metodo-divisao">

      <ion-item>
        <ion-label position="stacked">Digito 1:</ion-label>
        <ion-input [(ngModel)]="digito1" required></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Digito 2:</ion-label>
        <ion-input [(ngModel)]="digito2" required></ion-input>
      </ion-item><br>
      
      <p class="ion-text-center resultado">{{resultado}}</p>

      <div class="botao">
        <ion-button (click)="Dividir()">Dividir Ja!</ion-button>
        <ion-button (click)="Multiplicar()">Multiplicar Ja!</ion-button>
        <ion-button (click)="Somar()">Somar Ja!</ion-button>
        <ion-button (click)="Subtrair()">Subtrair Ja!</ion-button>
      </div><br><br>


    </ion-list>


    <ion-list class="calculadora">
      
      <ion-button (click)="btnCalc('7')">7</ion-button>
      <ion-button (click)="btnCalc('8')">8</ion-button>
      <ion-button (click)="btnCalc('9')">9</ion-button>
      <ion-button (click)="btnCalc('/')">/</ion-button><br>
      <ion-button (click)="btnCalc('4')">4</ion-button>
      <ion-button (click)="btnCalc('5')">5</ion-button>
      <ion-button (click)="btnCalc('6')">6</ion-button>
      <ion-button (click)="btnCalc('*')">*</ion-button><br>
      <ion-button (click)="btnCalc('1')">1</ion-button>
      <ion-button (click)="btnCalc('2')">2</ion-button>
      <ion-button (click)="btnCalc('3')">3</ion-button>
      <ion-button (click)="btnCalc('-')">-</ion-button><br>
      <ion-button (click)="btnCalc('.')"> ,</ion-button>
      <ion-button (click)="btnCalc('0')">0</ion-button>
      <ion-button (click)="Calcular()">=</ion-button>
      <ion-button (click)="btnCalc('+')">+</ion-button><br><br><br>

      <div class="resultado">
        <p class="ion-text-center" readonly>{{inputResultado}}</p>
      </div>

    </ion-list>
  <!-- </form> -->


</ion-content>