ion-content{
    margin: 50px 0 0 0;
    padding: 20px;
}
.botao{
    width: 100%;
    text-align: center;
}
h2{
    width: 100%;
    text-align: center;
}
.calculadora{
    margin: 50px 0 0 0;
    padding: 20px;
    text-align: center;
}
.calculadora ion-button{
    width: 80px;
    height: 70px;
}
